.bio .bio-userinfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* font-size: 15px; */
  padding-left: 18px;
}

.bio .bio-userinfo img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.bio .bio-userinfo h1{
  margin: 10px 0 0 0;
}

.bio .ant-menu-title-content{
  /* font-size: 15px; */
  display: flex;
}

.bio .bio-menu-item{
  padding: 10px;
}

.bio h1{
  /* font-size: 25px; */
}

.bio .bio-a-list{
  display: flex;
  justify-content: space-between;
}

.bio{
  margin: 10px 0;
}