.publications {
  margin: 10px;
  padding: 10px;
}

.publications .publication {
  padding: 0 10px;
}

.publications .publication-container{
  background-color: #f9f9f9; /* Example color */
  padding: 15px;
  margin-bottom: 20px;
}

.publications .publication-title {
  font-weight: 500;
  margin: 0 0 5px 0;
}

.publications .publication-details {
  font-style: italic;
  color: #555;
  margin: 0 0 5px 0;
}

.publications .publication-citation {
  color: #333;
  margin: 0;
}

.publications .h2 {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.publications h1 {
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
