.cv {
  /* margin: 10px;
  padding: 10px; */
}

.cv h1 {
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.cv .email{
  color: #1677ff;
}

.cv .section {
  background-color: #f9f9f9; /* Example color */
  padding: 0 15px;
  margin-bottom: 20px;
}

.cv .education .edu-title{
  display: flex;
  justify-content: space-between;
  /* font-weight: bold; */
  color: #555;
}


.cv .experience, .education, .grant, .publication {
  margin-bottom: 15px;
  padding-left: 0;
}

.cv .experience p, .education p, .grant p, .publication p {
  margin: 0 0 4px 0;
}

.cv .experience p:first-child, .education p:first-child, .grant p:first-child, .publication p:first-child {
  font-weight: 500;
  color: #555;
}
