.teaching {
  margin: 10px;
  padding: 10px; /* Reduced padding for a more compact look */
}

.teaching .section {
  background-color: #f9f9f9; /* Gray background for each section */
  padding: 15px; /* Padding inside sections */
  margin-bottom: 15px; /* Less space between sections */
  border-radius: 5px; /* Optional: Adds rounded corners to the sections */
}

.teaching h1 {
  font-size: 2em; /* Larger font size for h1 elements like in .other */
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.teaching h2 {
  margin-top: 10px; /* Reduced space above h2 for a more compact layout */
  padding-top: 10px; /* Space above h2 when following another element */
}

.teaching .subcategory h3 {
  font-weight: bold;
  font-size: 17px; /* Making sure h3 remains larger than p */
  color: #777;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.teaching .subcategory p {
  margin-bottom: 4px;
  line-height: 1.4;
  margin-top: 0;
  margin-left: 20px;
}